/*TUTORIAL USED: http://codepen.io/Russbrown/pen/IgBuh*/
/*AURORA HAVENS*/

/*strike through done items*/
.done-true {
  text-decoration: line-through;
  color: #ddd;
}

/* color background*/
body {
  background: #13756D;
}

h2 {
  font-size: 2em;
  
  background: #1CA89C;
  padding: 40px;
  margin: 0;
  color: white;
  text-align: center;

 }

 ul {
  padding: 0px;
  margin: 0px;
}

li {
  font-size: 2em;
  padding: 40px;
  
  background: #65d8cb; /* Old browsers */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#65d8cb), to(#72f4e9));
  background: -webkit-linear-gradient(#65d8cb 0%, #72f4e9 100%);
  background: -moz-linear-gradient(#65d8cb 0%, #72f4e9 100%);
  background: -o-linear-gradient(#65d8cb 0%, #72f4e9 100%);
  background: linear-gradient(#65d8cb 0%, #72f4e9 100%);
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

.add-btn {
  width: 40%;
  border: none;
  background: #29F4E3;
  padding: 0;
  height: 100px;
  h2 {
   background: #29F4E3;
   padding: 0;
   font-size: 4em;
   color: #333;
  }
}

.add-input {
  width: 60%;
  height: 115px;
  float: left;
  border: none;
  padding: 30px 0;
  font-size: 2em;
  text-indent: 55px;
}