<!DOCTYPE html>
<html>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">

<body>
	<div class="container">
		<div class="col-md-4">
		</div>

		<div class="col-md-6">
			<div ng-app="Todo" ng-controller="todoCtrl"> 
				<div class="row">
				<h2>You've got <span class="emphasis">{{getTotalTodos()}}</span> things to do</h2>
      			</div>

      			<div class="row">
      			</div>	
      				<ul>
        				<li ng-repeat="todo in todos">
          					<input type="checkbox" ng-model="todo.done"/>
          						<span class="done-{{todo.done}}">{{todo.text}}</span>
        				</li>
      				</ul>
      
      			<form>
        			<input class="add-input" placeholder="I need to..." type="text" ng-model="formTodoText" ng-model-instant />
        			<button type ="button" class="btn btn btn-primary" ng-click="addTodo()"><h2>Add</h2></button>
      			</form>
	
			</div>
	
		</div>
	
	</div>
<script src="script.js"></script>

</body>
</html>
